.filters li {
  border-width: 1px;
  border-style: solid;
  padding: 4px;
  margin: 5px;
  display: inline;
  color: black;
}

.filters li a {
  color: red;
}


.filters li:active {
  background-color: #626f84;
  color: white;

}

.filterSelections li{
  text-decoration: none;
  list-style-type: disc;
  display: inline;
  width: 156px;
  margin: 7px 13px 0;
  padding-bottom: 6px;
  position: relative;
}



